@tailwind base;
@tailwind components;
@tailwind utilities;



.herosection{
    background-image: url('../../public/images/elements.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}