@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #333; /* لون نص نظيف */
    scroll-behavior: smooth;
    background-color: #f9f9f9; /* خلفية فاتحة */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600; /* عناوين بخط ثقيل شوي */
    color: #111;
}

p, span, li {
    font-weight: 400;
    font-size: 1rem;
}

.hero-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





