@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #333; /* لون نص نظيف */
    scroll-behavior: smooth;
    background-color: #f9f9f9; /* خلفية فاتحة */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600; /* عناوين بخط ثقيل شوي */
    color: #111;
}

p, span, li {
    font-weight: 400;
    font-size: 1rem;
}

.hero-section {
    background: url('../../public/images/logo3-png.png') no-repeat center center/cover;
    height: 100vh; /* ارتفاع كامل الشاشة */
    display: flex;
    align-items: center;
    justify-content: center;
}
